<div class="grid">
  <span class="left">
    <app-video-list [videos]="videos | async" [selectedVideo]="selectedVideo" (videoClicked)="onVideoClicked($event)"></app-video-list>
  </span>
  <span class="middle" *ngIf="selectedVideo; else noVideo">
    <app-video-embedder [videoId]="selectedVideo.id"></app-video-embedder>
    <app-video-stats [stats]="selectedVideo.viewDetails"></app-video-stats>
  </span>
  <ng-template #noVideo>
    <span class="middle">
      Please select a video.
    </span>
  </ng-template>
  <span class="right">
    <app-stats-filter></app-stats-filter>
  </span>
</div>